<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <p class="font_size_2">Приветствую тебя пользователь в веб-приложении,
        созданным студентом Кубанского государственного
        университета. Здесь ты можешь найти расписание
        своей группы. Однако, чтобы использовать сервис для начала
        нужно зарегистрироваться или авторизоваться в системе.</p>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>