<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <h2 class="ml-3">Авторизация</h2>
    <div th:class="'col-sm-6 alert alert-'+${messageType}">
        <b th:text="${message}"></b>
    </div>
    <div th:if="${param.error}" class="col-sm-6 alert alert-danger">
        <b>Неправильный логин или пароль! Проверьте, активировали ли вы свой аккаунт!</b>
    </div>
    <div th:insert="blocks/login :: login(path=@{/login},user=null,password2=null,captchaError=null)" ></div>
    <div class="ml-3">
        <a class="btn my-btn" href="/registration">Зарегистрироваться</a><br>
        <a href="/recover">Забыли пароль?</a>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>