<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="blocks/head :: head">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <div class="form-row">
            <div class="form-group col-md-12 col-lg-10">
                <form method="get" th:action="@{/main}" class="form-inline">
                    <label>
                        <select name="team" id="team" class="form-control">
                            <option selected disabled>Выберите группу</option>
                            <label th:each="el : ${teams}">
                                <option th:value="${el}" th:text="${el}"></option>
                            </label>
                        </select>
                    </label>
                    <label>
                        <select name="teacher" id="teacher" class="form-control">
                            <option selected disabled>Выберите преподавателя</option>
                            <label th:each="el : ${teachers}">
                                <option th:value="${el}" th:text="${el}"></option>
                            </label>
                        </select>
                    </label>
                    <label>
                        <select name="dayOfWeek" id="dayOfWeek" class="form-control">
                            <option selected disabled>Выберите день недели</option>
                            <label>
                                <option value="Понедельник">Понедельник</option>
                                <option value="Вторник">Вторник</option>
                                <option value="Среда">Среда</option>
                                <option value="Четверг">Четверг</option>
                                <option value="Пятница">Пятница</option>
                                <option value="Суббота">Суббота</option>
                            </label>
                        </select>
                    </label>
                    <button type="submit" class="btn btn-dark form-control">Поиск</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div th:insert="blocks/pagination :: pagination"></div>
    </div>
    <div class="container" th:each="el : ${page.getContent()}">
        <div class="table-responsive-md">
            <table class="table table-hover table-striped table-bordered col-lg-10 col-md-10 col-sm-12">
                <caption>Расписание на <span th:text="${el.getDayOfWeek()}"></span> для группы <span th:text="${el.getTeam()}"></span></caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Время</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Преподаватель</th>
                    <th scope="col">Тип пары</th>
                    <th scope="col">Аудитория</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="couple : ${el.couples}">
                    <tr>
                        <th scope="row">#</th>
                        <td><span th:text="${couple.getTimeCouple().getHours()}"></span>
                            <span>:</span>
                            <span th:if="${couple.getTimeCouple().getMinutes()}==0">00</span>
                            <span th:unless="${couple.getTimeCouple().getMinutes()}==0" th:text="${couple.getTimeCouple().getMinutes()}"></span>
                        </td>
                        <td><span th:text="${couple.getTitle()}"></span></td>
                        <td><span th:text="${couple.getTeacher()}"></span></td>
                        <td><span th:text="${couple.getType()}"></span></td>
                        <td><span th:text="${couple.getAudience()}"></span></td>
                    </tr>
                </div>
                <tr>
                    <th scope="row">#</th>
                    <td><b>День недели</b></td>
                    <td><b>Группа</b></td>
                    <td><b>Какая неделя?</b></td>
                    <td><b>Автор расписания</b></td>
                    <td><b>#</b></td>
                </tr>
                <tr>
                    <th scope="row">#</th>
                    <td><span th:text="${el.dayOfWeek}"></span></td>
                    <td><span th:text="${el.team}"></span></td>
                    <td><span th:text="${el.parity}"></span></td>
                    <td><span th:text="${el.author.username}"></span></td>
                    <td><b>#</b></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div sec:authorize="hasAuthority('ADMIN')" class="form-group col-md-6">
            <form th:action="'/main/'+ ${el.id} + '/remove'" method="post">
                <button class="btn btn-danger">Удалить</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div th:insert="blocks/pagination :: pagination"></div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</body>
</html>