<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <div th:if="${not #lists.isEmpty(message)}">
        <div th:if="${messageType}=='success'">
            <div th:class="'col-sm-6 alert alert-'+${messageType}">
                <b th:text="${message}"></b>
            </div>
        </div>
        <div th:if="${messageType}=='danger'">
            <div th:class="'col-sm-6 alert alert-'+${messageType}">
                <b th:text="${message}"></b>
            </div>
        </div>
        <div th:if="${messageWarning}=='warning'">
            <div th:class="'col-sm-6 alert alert-'+${messageWarning}">
                <b th:text="${messageWarningInfo}"></b>
            </div>
        </div>
    </div>
    <h2 class="my-margin-bottom-2 col-sm-6">Загрузка расписания из файла </h2>
    <form th:action="@{/main/upload}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-sm-6 mb-3">
                <input type="file" name="file"/>
            </div>
            <div class="col-sm-6">
                <button class="btn my-btn my-btn-size" type="submit">Загрузить</button>
            </div>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
    <div th:if="${messageType}=='danger'" class="col-sm-6">
        <div>
            <a th:download="${resultUploadFilename}" th:href="'/excel/'+${resultUploadFilename}">Выгрузить excel файл с
                ошибками</a>
        </div>
        <div>
            <a th:download="${resultErrorFilename}" th:href="'/file_with_errors_info/'+${resultErrorFilename}">Выгрузить
                txt файл с ошибками и дополнительной информацией</a>
        </div>
    </div>
    <div th:if="${messageWarning}=='warning'" class="col-sm-6">
        <div>
            <a th:download="${resultUploadFilename2}" th:href="'/excel/'+${resultUploadFilename2}">Выгрузить excel файл
                с предупреждениями</a>
        </div>
        <div>
            <a th:download="${resultWarningFilename}" th:href="'/files_with_warnings_info/'+${resultWarningFilename}">Выгрузить
                txt файл с предупреждениями и дополнительной информацией</a>
        </div>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>