<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer class="page-footer bg-light font-small pt-4 my-margin-top">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Кубанский государственный университет</h5>
                    <div> Адрес: <span>ул. Ставропольская, 149</span> <span>350040</span> <span>г. Краснодар</span> </div>
                    Телефон: <span>+7 (861) 219-95-30 - приемная комиссия</span><br>
                    Email: <span>abitur@kubsu.ru</span><br>
                    Телефон: <span class="text-muted">+7 (861) 219-95-02 - приемная ректора</span><br>
                    Email: <span class="text-muted">rector@kubsu.ru</span></div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Быстрая навигация</h5>
                    <ul class="list-unstyled">
                        <li> <a href="/" class="footer_a">Главная</a> </li>
                        <li> <a href="/main" class="footer_a">Расписание</a> </li>
                        <li> <a href="/about" class="footer_a">О приложении</a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-copyright text-center py-3">© 2020 Copyright: <a href="/" class="footer_a">"Кубанский государственный университет"</a> </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</div>