<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div th:fragment="header">
        <nav class="navbar navbar-expand-md navbar-dark sticky-top my-margin-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"> <img th:src="@{/static/images/logo.png}" width="136" alt="Описание картинки" />Кубанский государственный университет</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto click-menu-element">
                        <li class="nav-item">
                            <a class="font_size_1 nav-link" data-value="major" href="/" >Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="font_size_1 nav-link " data-value="timetable" href="/main" >Расписание</a>
                        </li>
                        <li class="nav-item">
                            <a class="font_size_1 nav-link " data-value="about" href="/about" >О приложении</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                            <a class="font_size_1 nav-link " data-value="users" href="/user" >Пользователи</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                            <a class="font_size_1 nav-link " data-value="add" href="/main/add" >Добавить расписание</a>
                        </li>
                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <a class="font_size_1 nav-link btn my-border" data-value="login" href="/login">Авторизация</a>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize="isAuthenticated()">
                                <strong sec:authentication="name" data-value="name" class="mr-2 navbar-text my-font-color"></strong>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize="isAuthenticated()">
                                <a class="font_size_1 nav-link btn my-border" data-value="profile" href="/user/profile">Профиль</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize="isAuthenticated()" th:insert="blocks/login :: logout"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>